*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/karla-v31-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/karla-v31-latin-700.woff2") format("woff2");
}
@keyframes show-and-slide {
  from {
    opacity: 0;
    transform: translateX(var(--start-position, -30px));
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.card {
  padding: 26px 23px 23px 23px;
}
.card--community {
  background-color: rgb(255, 255, 255);
  grid-area: community;
  padding: 28px 23px 32px 23px;
}
.card--subscription {
  background-color: rgb(42, 178, 175);
  grid-area: subscription;
}
.card--why-us {
  background-color: rgb(74, 190, 189);
  grid-area: whyUs;
}
.card__title {
  font-size: 1.10625rem;
  margin-bottom: 19px;
}
.card__title--big {
  color: rgb(42, 178, 175);
  font-size: 1.225rem;
  margin-bottom: 25px;
}
.card__trial-info {
  color: rgb(192, 223, 52);
  font-size: 0.91875rem;
  font-weight: 700;
  margin-bottom: 19px;
  line-height: 1.28;
}
.card__benefits-info {
  color: rgb(152, 166, 189);
  font-size: 0.859375rem;
  line-height: 1.85;
}
.card__pricing {
  align-items: center;
  display: flex;
  margin-bottom: 7px;
}
.card__fee {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 12px;
}
.card__monthly {
  color: rgba(229, 239, 245, 0.5);
  font-size: 1rem;
}
.card__daily {
  font-size: 0.98125rem;
  margin-bottom: 30px;
}
.card__sign-up {
  background-color: rgb(192, 223, 52);
  box-shadow: 0 10px 16px -5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  display: block;
  padding: 14px 0;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.card__sign-up::after {
  background-color: rgb(192, 223, 52);
  content: "";
  display: block;
  filter: brightness(0.8);
  height: 100%;
  opacity: 0.35;
  position: absolute;
  transition: width 450ms ease;
  top: 0;
  width: 0;
}
.card__sign-up:hover::after {
  width: 100%;
}
.card__btn-text {
  position: relative;
  z-index: 1;
}
.card__benefit {
  --start-position: -20px;
  color: rgba(229, 239, 245, 0.8);
  font-size: 0.8625rem;
  line-height: 1.45;
}
.card__benefit:nth-child(1) {
  animation: show-and-slide 580ms;
}
.card__benefit:nth-child(2) {
  animation: show-and-slide 660ms;
}
.card__benefit:nth-child(3) {
  animation: show-and-slide 740ms;
}
.card__benefit:nth-child(4) {
  animation: show-and-slide 820ms;
}
.card__benefit:nth-child(5) {
  animation: show-and-slide 900ms;
}
.card__benefit:nth-child(6) {
  animation: show-and-slide 980ms;
}
.card__benefit:nth-child(7) {
  animation: show-and-slide 1060ms;
}

@media screen and (min-width: 37.5rem) {
  .card {
    padding: 40px;
  }
  .card__title--big {
    font-size: 1.46875rem;
  }
  .card__trial-info {
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
  .card__benefits-info {
    font-size: 0.97875rem;
    line-height: 1.7;
  }
}
body {
  align-items: center;
  background-color: rgb(229, 239, 245);
  color: rgb(255, 255, 255);
  display: flex;
  font-family: "Karla", sans-serif;
  justify-content: center;
  min-height: 100vh;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.cards {
  animation: show-and-slide 600ms;
  box-shadow: 0 15px 25px 5px rgba(152, 166, 189, 0.35);
  border-radius: 5px;
  display: grid;
  grid-template-areas: "community" "subscription" "whyUs";
  overflow: hidden;
  margin: 32px;
  max-width: 635px;
}

@media screen and (min-width: 37.5rem) {
  .cards {
    border-radius: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "community community" "subscription whyUs";
  }
}/*# sourceMappingURL=main.css.map */