@use "./variables";

.card {
  padding: 26px 23px 23px 23px;

  &--community {
    background-color: variables.$white;
    grid-area: community;
    padding: 28px 23px 32px 23px;
  }

  &--subscription {
    background-color: variables.$cyan;
    grid-area: subscription;
  }

  &--why-us {
    background-color: variables.$light-cyan;
    grid-area: whyUs;
  }

  &__title {
    font-size: variables.$font-size-title-mobile;
    margin-bottom: 19px;
  }
  
  // Card community
  &__title--big {
    color: variables.$cyan;
    font-size: variables.$font-size-community-mobile;
    margin-bottom: 25px;
  }
  
  &__trial-info {
    color: variables.$bright-yellow;
    font-size: variables.$font-size-trial-mobile;
    font-weight: 700;
    margin-bottom: 19px;
    line-height: 1.28;
  }
  
  &__benefits-info {
    color: variables.$grayish-blue;
    font-size: variables.$font-size-benefits-mobile;
    line-height: 1.85;
  }
  
  // Card subscription
  &__pricing {
    align-items: center;
    display: flex;
    margin-bottom: 7px;
  }
  
  &__fee {
    font-size: variables.$font-size-fee-mobile;
    font-weight: 700;
    margin-right: 12px;
  }
  
  &__monthly {
    color: rgba(variables.$light-gray, 0.5);
    font-size: variables.$font-size-monthly-mobile;
  }
  
  &__daily {
    font-size: variables.$font-size-daily-mobile;
    margin-bottom: 30px;
  }
  
  &__sign-up {
    background-color: variables.$bright-yellow;
    box-shadow: 0 10px 16px -5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: variables.$white;
    display: block;
    padding: 14px 0;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    position: relative;

    &::after {
      background-color: variables.$bright-yellow;
      content: "";
      display: block;
      filter: brightness(0.8);
      height: 100%;
      opacity: 0.35;
      position: absolute;
      transition: width 450ms ease;
      top: 0;
      width: 0;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__btn-text {
    position: relative;
    z-index: 1;
  }
  
  // Card why us
  &__benefit {
    color: rgba(variables.$light-gray, 0.8);
    font-size: variables.$font-size-benefit-mobile;
    line-height: 1.45;
  }

  @for $i from 1 through 7 {
    &__benefit:nth-child(#{$i}) {
      animation: show-and-slide (500ms + 80ms * $i);
    }
  }
}

@media screen and (min-width: variables.$breakpoint-sm) {
  .card {
    padding: 40px;

    &__title--big {
      font-size: variables.$font-size-community-desktop;
    }

    &__trial-info {
      font-size: variables.$font-size-trial-desktop;
      margin-bottom: 8px;
    }

    &__benefits-info {
      font-size: variables.$font-size-benefits-desktop;
      line-height: 1.7;
    }
  }
}