// Primary colors
$cyan: rgb(42, 178, 175);
$light-cyan: rgb(74, 190, 189);
$bright-yellow: rgb(192, 223, 52);

// Neutral colors
$white: rgb(255, 255, 255);
$light-gray: rgb(229, 239, 245);
$grayish-blue: rgb(152, 166, 189);

// Font sizes
$font-size-title-mobile: 17.7px;
$font-size-community-mobile: 19.6px;
$font-size-trial-mobile: 14.7px;
$font-size-benefits-mobile: 13.75px;
$font-size-fee-mobile: 32px;
$font-size-monthly-mobile: 16px;
$font-size-daily-mobile: 15.7px;
$font-size-benefit-mobile: 13.8px;

$font-size-community-desktop: 23.5px;
$font-size-trial-desktop: 17.6px;
$font-size-benefits-desktop: 15.66px;

// Breakpoints
$breakpoint-sm: 600px;