// Primary colors
$cyan: rgb(42, 178, 175);
$light-cyan: rgb(74, 190, 189);
$bright-yellow: rgb(192, 223, 52);

// Neutral colors
$white: rgb(255, 255, 255);
$light-gray: rgb(229, 239, 245);
$grayish-blue: rgb(152, 166, 189);