// Primary colors
$cyan: rgb(42, 178, 175);
$light-cyan: rgb(74, 190, 189);
$bright-yellow: rgb(192, 223, 52);

// Neutral colors
$white: rgb(255, 255, 255);
$light-gray: rgb(229, 239, 245);
$grayish-blue: rgb(152, 166, 189);

// Font sizes
$font-size-title-mobile: 1.10625rem;
$font-size-community-mobile: 1.225rem;
$font-size-trial-mobile: 0.91875rem;
$font-size-benefits-mobile: 0.859375rem;
$font-size-fee-mobile: 2rem;
$font-size-monthly-mobile: 1rem;
$font-size-daily-mobile: 0.98125rem;
$font-size-benefit-mobile: 0.8625rem;

$font-size-community-desktop: 1.46875rem;
$font-size-trial-desktop: 1.1rem;
$font-size-benefits-desktop: 0.97875rem;

// Breakpoints
$breakpoint-sm: 37.5rem;