@use "./reset";
@use "./variables";
@use "./fonts";

body {
  align-items: center;
  background-color: variables.$light-gray;
  color: variables.$white;
  display: flex;
  font-family: "Karla", sans-serif;
  justify-content: center;
  min-height: 100vh;
}

.cards {
  border-radius: 5px;
  display: grid;
  grid-template-areas: 
    "community"
    "subscription"
    "whyUs";
  overflow: hidden;
  margin: 32px;
}

.card {
  padding: 32px 23px;

  &--community {
    background-color: variables.$white;
    grid-area: community;
  }

  &--subscription {
    background-color: variables.$cyan;
    grid-area: subscription;
  }

  &--why-us {
    background-color: variables.$light-cyan;
    grid-area: whyUs;
  }
}

.card__title {
  font-size: 17.7px;
  margin-bottom: 32px;
}

.card__title--big {
  color: variables.$cyan;
  font-size: 19.6px;
  margin-bottom: 25px;
}

.card__trial-info {
  color: variables.$bright-yellow;
  font-size: 15.5px;
  margin-bottom: 20px;
}

.card__benefits-info {
  color: variables.$grayish-blue;
  font-size: 13.75px;
  line-height: 1.8;
}

@media screen and (min-width: 600px) {
  .cards {
    grid-template-areas: 
    "community community" 
    "subscription whyUs";
  }
}