@use "./reset";
@use "./variables";

.cards {
  margin: 32px;
}

.card {
  padding: 32px 23px;

  &--community {
    background-color: variables.$white;
  }

  &--subscription {
    background-color: variables.$cyan;
  }

  &--why-us {
    background-color: variables.$light-cyan;
  }
}