@use "./reset";
@use "./variables";
@use "./fonts";
@use "./card";

body {
  align-items: center;
  background-color: variables.$light-gray;
  color: variables.$white;
  display: flex;
  font-family: "Karla", sans-serif;
  justify-content: center;
  min-height: 100vh;
}

.cards {
  box-shadow: 0 15px 25px 5px rgba(variables.$grayish-blue, 0.35);
  border-radius: 8px;
  display: grid;
  grid-template-areas: 
    "community"
    "subscription"
    "whyUs";
  overflow: hidden;
  margin: 32px;
}

@media screen and (min-width: 600px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "community community" 
    "subscription whyUs";
  }
}